[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-webpack-loader = "*"
"psycopg2-binary" = "*"
"psycopg2" = "*"
pillow = "*"
channels = "*"
channels-redis = "*"
django-heroku = "*"
gunicorn = "*"
uvicorn = "*"
whitenoise = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.6"
