.container-m{
    height: 100vh;
}
.col-left-m{
background-color: rgb(191, 120, 238);
}
.col-right-m{

}
.top-m{
    background-color: rgb(147, 238, 73);
}
.bottom-m{
    background-color: rgb(243, 200, 61); 
}
.full-vertical {
    height: 100vh;
}
.half-vertical{
    height:50vh;
}