.row-banner{
    height:200px;
    background-color: #292727;
    box-shadow: 10px 10px 40px #292727; 
}
.col-no-padding{
    padding-left:0 !important;
}
.space-rows{
    margin-top:3%;
}
.little-margin{
    margin-top:2%;
}

.square-pic{
    width:100px;
    height:100px;
    background-color:white;
}

.info-field{
    background-color:#5E87F7;
    height:75%;
}

.color{
    color:white;
}

.margin{
    margin-top:5%;
}

.info-detail{
    background-color: #292727;
    border-radius:15px;
    height:40px;    
    color:rgba(255, 255, 255, 0.781);
}