.container-group{
    background-image: linear-gradient(#386ca3,#044181 40%);
    height  : 100vh;
    font-size: 130%; 
}
.margin-group{
    height:30vh;
}
.Slot{
    width:250px;
    height:300px;
    border-radius: 10%;
    border: solid 2px #292727;
    background-color: #f7a92c;
    box-shadow: 4px 4px 4px grey;
}

.Slot.used {
    background-color: rgb(89, 89, 89);
}

.Slot:hover{
    background-color: grey;

}

.margin-slot{
    margin-top:20vh;
}
